
img{
	margin-top: 20px;
	width: 40%;
}

.menu {
	
	text-align: right;
	margin-left: 10px;
	margin-top:  40px;
}

li{
	list-style-type: none;
	display: inline-block;
	padding-left: 10px;	
}

a{
	text-decoration: none;
	margin-bottom: 30px;
	color: #F20570;
}
.box{
	background-color: #21CC5D;
}

.box1{
	margin-top: 50px;
	margin-bottom:30px;
}

.box1 h1{
	font-size: 50px;
	margin-bottom: 40px;
}

.box2{
	margin-top: 50px;
	font-size: 15px;
	color: #9303A6;
	float: right;
	background-color: #CAEBD7;
	width: 80%;
	border-radius: 30px;
	text-align: center;
	padding: 2%;
	margin-bottom: 50px;
}
.get{
	margin-top: 30px;
	text-align: center;
	margin-left: 5%;
}
.nombre, .mail {
	width: 90%;
	margin-left:5%;
	color: #F5059D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.listo{
	width: 90%;
	margin-left: 5%;
	color: #F5059D;
	background-color: #B3F051;
	margin-bottom: 30px;
}

footer{
	background-color: withe;	
	padding: 20px;
}

footer .laboratoria{
	color: black;
	margin-left: 12.5%;
	font-size: 12px;
}

footer a{
	color: #F20570;
	text-decoration: none;
	font-size: 12px;
}

.lab{
	padding-left: 40px;
}












