@media ( max-width: 767px){

.box .col-6 {
	width: 100%
}

.box {

	text-align: center;
}

.box2{
	float: none; 
	margin-left: 10%
}
.menu{
	margin-top: 10%;
	font-size: 12px;
}

img {
	width: 60%;
}
}


